<div class="section--promoted">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <div class="hot-deals">
          <div class="row align-items-center">
            <div class="col-lg-6"><h5>HOT DEALS</h5></div>
            <div class="col-lg-6 dots">
              <ul>
                <li><a href="#" class="active"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="product-box">
          <div class="photo bed-photo-1">
            <div class="addbttn">
              <a href="#" class="btn-main-small">ADD TO CART</a>
            </div>
            <div class="buttons">
              <div class="timer">25 DAYS</div>
              <div class="timer">10 HARS</div>
              <div class="timer">45 MMS</div>
              <div class="timer">30 SECS</div>
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-8">
        <div class="product-box">
          <div class="photo bed-photo-6 centphoto">
            <div class="textline">
              <h3>INDOOR <b>FURNITURE</b></h3>
              <h5>SAVE UP TO 50% OF ALL FURNITURE</h5>
            </div>
            <div class="shopbttn"><a href="#" class="btn-outline">SHOP NOW</a></div>
            <div class="downbttn">
              <a href="#" class="btn-outline-promoted">
                <i class="fas fa-chevron-left"></i>
              </a>
              <a href="#" class="btn-outline-promoted">
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
