footer {
  .footer-menu {
    background-color: $footer-bg;
    padding: 3rem 0;

    .menu-wrapper {
      h6 {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
      }

      ul {
        margin: 0 0 1.5rem 0;
        padding: 0;
        list-style: none;
        li {
          a {
            font-size: 14px;
            line-height: 30px;
            color: rgb(169, 169, 169);

            &:hover {
              color: #ffffff;
            }
          }
        }
      }
    }

    .payment-methods {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .bottom-bar {
    position: relative;
    background-color: $footer-claim-bg;

    .container > .row {
      height: 95px;
    }

    .copyright {
      @include media-breakpoint-up(xs) {
        display: none;
      }
      @include media-breakpoint-up(md) {
        @include make-col(6);
        display: block;
      }
      p {
        margin: 0;
        color: rgb(169, 169, 169);
        font-size: 14px;
        line-height: 26px;
      }

      &:first-child {
        @include media-breakpoint-up(xs) {
          display: block;
          p {
            font-size: 0.75em;
          }
        }
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
    }

    .socialmedia {
      @include make-col-ready();
      @include media-breakpoint-up(xs) {
        @include make-col(12);
        ul {
          text-align: center;
        }
      }
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-left: 1rem;

          a {
            color: rgb(169, 169, 169);
            text-decoration: none;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }
}

.footer--elements {
  @include make-col-ready();
  @include media-breakpoint-up(xs) {
    @include make-col(12);
    text-align: center;
    margin: 10px auto;
  }
  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(3);
  }
}
